{% extends "layout.html" %}

{% block body %}

<div class="wrapper">
  <div class="loader" style="display:none">
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
  </div>
  <div class="header">

    <img src="{{ url_for('static', filename='/img/chatbot.png') }}" alt='grandpy avatar' id='avatar' />
    <h1> GrandPy Bot - your great grand geobot </h1>
  </div>

  <div class="messages">
    <div class="message agent" data-message-id="0">
      <p>Well hello! </p>
    </div>
    <div class="message agent" data-message-id="0">
      <p>How can I help you today?</p>
    </div>
  </div>

  <div class="controls">
    <form>
      <input required type="text" id="input field" autofocus name="query" placeholder="Ask GrandPy a question">
      <input type="submit" id="submit-button" value="Ask">
    </form>
  </div>
  <footer>Nicolas Cyirenga Bontemps - something@github.com</footer>
</div>
{% endblock %}